__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env*
.venv/
venv/
.idea/
.vscode/
dist/
build/
.eggs/
*.egg-info/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
.tox/
.cache/
*.bak
*.swp
*.tmp
backups/
.git/
.gitignore
